<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to the Main Page!</h1>
    <h3>{{ request.user.nickname }}</h3>
    <button type="button" class="navyBtn" onClick="location.href='users/sign_in'">로그인</button>
    <button type="button" class="navyBtn" onClick="location.href='users/sign_up'">회원가입</button>
    <button type="button" class="navyBtn" onClick="location.href='users/sign_out'">로그아웃</button>
    <button type="button" class="navyBtn" onClick="location.href='users/profile'">프로필</button>
</body>
</html>